.button {
  background-color: rgba(247 247 250 / 100%);
  background-image: url('../../../assets/more-actions.svg');
  transform: rotate(90deg);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgba(230 230 230 / 100%);
  border-radius: 2px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.button:hover {
  opacity: .6;
}
